body {
	background-image: url("../images/seigaiha.png");
	margin: 0px;
	padding: 0px;
}


.target-number {
	font-size: 30px;
	background-color: #F8CF9C;
	border-style: solid;
	border-color: #ddd;
	border-width: 4px;
}

.win-lose-counter {
	background-color: #9CE7F8;
	border-style: solid;
	border-color: #ddd;
	border-width: 4px;
}

